apiVersion: 1

datasources:
  - name: ClimateAPI
    type: grafana-json-datasource
    access: proxy
    url: http://api:8000
    jsonData:
      tlsSkipVerify: true
      keepCookies: []

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      timeInterval: 15s

dashboards:
  providers:
    - name: 'Default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      updateIntervalSeconds: 30
      allowUiUpdates: true
      options:
        path: /etc/grafana/provisioning/dashboards
